@font-face {
  font-family: 'Lato';
  src: url('/Fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Global styles */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main1_CMS {
  overflow-x: hidden;
  width: 100%;
}



  .container1NAV2_1{
        /* border: 1px solid rgba(51, 51, 51, 0.3);
    background-color: rgba(23, 21, 21, 0.2); */
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(10px); */
    /* border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); */
    margin-bottom: 20px;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: all 0.4s ease-in-out;
    z-index: 9999;
    position: fixed;
        top: 30px;
    left: 83.3%;     
  }
  /* transform: translateX(-50%); */

.row1NAV2_1 {
    justify-content: center;
    align-items: center;
    column-gap: 1px;
    padding: 0px 43px 0px 10px;
    display: flex;
}
#btnn{
      width: 64%;
    margin-left: 61px;
      white-space: nowrap;
    border: 1px solid rgba(51, 51, 51, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    color: #000;
  font-family: 'Lato',sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
#btnn:hover{
    cursor: pointer;
 box-shadow: 0 4px 24px rgba(255, 0, 149, 0.6), 0 4px 24px rgba(57, 0, 245, 0.4);
}

#op{
        width: 64%;
    margin-left: 61px;
      white-space: nowrap;
    border: 1px solid rgba(51, 51, 51, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    color: #000;
  font-family: 'Lato',sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
#op:hover{
   cursor: pointer;
 box-shadow: 0 4px 24px rgba(255, 0, 149, 0.6), 0 4px 24px rgba(57, 0, 245, 0.4);
}
/* .col1NAV2_1 button{
    white-space: nowrap;
    border: 1px solid rgba(51, 51, 51, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    color: #000;
  font-family: 'Lato',sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    position: relative;
    overflow: hidden;
    
} */
/* .col1NAV2_1 button:hover{
    cursor: pointer;
 box-shadow: 0 4px 24px rgba(255, 0, 149, 0.6), 0 4px 24px rgba(57, 0, 245, 0.4);
} */
#color{
      /* padding: 13px 30px; */
    border: 1px solid rgba(51, 51, 51, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    color: #000;
  font-family: 'Lato',sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

#color:hover{
   cursor: pointer;
    box-shadow: 0 4px 24px rgba(255, 0, 149, 0.6), 0 4px 24px rgba(57, 0, 245, 0.4);
}
/* our second fixed Nev end */


/* start nev for EV */
.cont1_nav {
  position: fixed;
  top: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.row1_Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.nav-item {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
}
.nav-item:hover{
     cursor: pointer;
    box-shadow: 0 4px 24px rgba(255, 98, 0, 0.6), 0 4px 24px rgba(57, 0, 245, 0.4);
}

.nav-item h4 {
    color: #fff;
    text-align: center;
    background: rgba(39, 38, 38, .7);
    border-radius: 12px;
    width: auto;
    max-width: 90%;
    margin: 0;
    padding: 14px 12px;
    font-family: Lato, sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.nav-residential {
  background-image: url("/../Images/Residential.png");
}

.nav-public {
  background-image: url("/../Images/public-c.png");
}

.nav-cms {
  background-image: url("/../Images/sidenav.png");
}





/* ------------------ container1 ------------------ */
.container1_CMS {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 120px;
}

.row1_CMS {
  display: flex;
  column-gap: 30px;
}
.col1_CMS img{
    margin-left: 30px;
}
.col1_CMS {
  width: 50%;
}

.col1_CMS h2 {
  font-size: 42px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
}

.col1_CMS h3 {
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

.col2_CMS {
  width: 50%;
}

/* ------------------ container2 ------------------ */
.container2_CMS {
  width: 100%;
  margin-top: 40px;
  background: #9acc50;
  padding: 80px 5%;
  color: #fff;
}

.col3_CMS {
  width: 90%;
  text-align: center;
}

.col3_CMS h2 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #000000;
}

.col3_CMS p {
  font-size: 18px;
  line-height: 1.6;
  color: #000000;
}

/* ------------------ container3 ------------------ */
.container3_CMS {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

.row2_CMS{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
        margin-top: 80px;
}
.col4_CMS{
    width: 50%;
}
.col5_CMS{
    width: 50%;
}
.col4_CMS img{
    float: left;
}
.col4_CMS li{
    width: 90%;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    margin-left: 20px;
}
.col5_CMS li{
    width: 90%;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    margin-left: 20px;
}
.col6_CMS li{
    width: 90%;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    margin-left: 20px;
}
.col7_CMS li{
    width: 90%;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    margin-left: 20px;
}
.col8_CMS li{
    width: 90%;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    margin-left: 20px;
}
.col9_CMS li{
    width: 90%;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    margin-left: 20px;
}

.col4_CMS li{
    width: 90%;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    margin-left: 20px;
}



.row3_CMS{
    display: flex;
    margin-top: 133px;
}
.col6_CMS{
    width: 50%;
}
.col7_CMS{
    width: 50%;
}
.col5_CMS img{
    float: left;
}
.col6_CMS img{
    float: left;
}



.row4_CMS{
    display: flex;
    margin-top: 133px;
}
.col8_CMS{
    width: 50%;
}
.col9_CMS{
    width: 50%;
}
.col7_CMS img{
    float: left;
}
.col8_CMS img{
    float: left;
}
.col9_CMS img{
    float: left;
}



/* ------------------ container4 ------------------ */
.container4_CMS {
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
  background: #9acc50;
  padding: 80px 5%;
  color: #fff;
}

.row5_CMS {
  display: flex;
  column-gap: 30px;
}

.col10_CMS {
  width: 50%;
}

.col10_CMS h2 {
      font-size: 73px;
  margin-bottom: 20px;
  color: #000;
}

.col11_CMS {
  width: 50%;
  text-align: center;
}

.col11_CMS img {
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}



