
@font-face {
  font-family: 'ElmsSans';
  src: url('/Fonts/Elms_Sans/static/ElmsSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.main1_Public{
  overflow-x: hidden;
}

  .container1NAV2_1{
    margin-bottom: 20px;
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: all 0.4s ease-in-out;
    z-index: 9999;
    position: fixed;
        top: 30px;
    left: 83.3%;     
  }

.row1NAV2_1 {
    justify-content: center;
    align-items: center;
    column-gap: 1px;
    padding: 0px 43px 0px 10px;
    display: flex;
}
#btnn{
      width: 64%;
    margin-left: 61px;
      white-space: nowrap;
    border: 1px solid rgba(51, 51, 51, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    color: #000;
   font-family: 'ElmsSans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
#btnn:hover{
    cursor: pointer;
 box-shadow: 0 4px 24px rgba(255, 0, 149, 0.6), 0 4px 24px rgba(57, 0, 245, 0.4);
}

#op{
        width: 64%;
    margin-left: 61px;
      white-space: nowrap;
    border: 1px solid rgba(51, 51, 51, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    color: #000;
   font-family: 'ElmsSans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
#op:hover{
   cursor: pointer;
 box-shadow: 0 4px 24px rgba(255, 0, 149, 0.6), 0 4px 24px rgba(57, 0, 245, 0.4);
}
#color{
      /* padding: 13px 30px; */
    border: 1px solid rgba(51, 51, 51, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    color: #000;
  font-family: 'ElmsSans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: all 0.4s ease-in-out;
    z-index: 1;
    position: relative;
    overflow: hidden;
}
#color:hover{
   cursor: pointer;
    box-shadow: 0 4px 24px rgba(255, 0, 149, 0.6), 0 4px 24px rgba(57, 0, 245, 0.4);
}
/* our second fixed Nev end */

/* start nev for EV */
 .cont1_nav {
  position: fixed;
  top: 30%;
      left: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
    z-index: 9999;
}
.row1_Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.nav-item {
  width: 100px;
  height: 100px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
    overflow: hidden;
}
.nav-item:hover{
     cursor: pointer;
    box-shadow: 0 4px 24px rgba(255, 98, 0, 0.6), 0 4px 24px rgba(57, 0, 245, 0.4);
}
.nav-item h4 {
    color: #fff;
    text-align: center;
    background: rgba(39, 38, 38, .7);
    border-radius: 12px;
    width: auto;
    max-width: 90%;
    margin: 0;
    padding: 14px 12px;
  font-family: 'ElmsSans', sans-serif;
    font-size: 12px;
    font-weight: 400;
      position: relative;
}
/* .nav-residential {
  background-image: url("/../Images/Residential.png");
}
.nav-public {
  background-image: url("/../Images/public-c.png");
}
.nav-cms {
  background-image: url("/../Images/CMS.png");
} */
 .col1NAV_EV1{
  width: 90px;
  height: 130px;
    padding: 10px 30px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    background: url('/Images/AC1.png');
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px;
    color: #000;
   font-family: 'ElmsSans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}
.col1NAV_EV1:hover ,.col2NAV_EV2:hover ,.col3NAV_EV3:hover{
      cursor: pointer;
    transform: translateX(10px);
    box-shadow: 0 4px 24px rgba(255, 170, 0, 0.6), 0 4px 24px rgba(245, 0, 245, 0.4);
}
.col2NAV_EV2{
  width: 90px;
  height: 130px;
    padding: 10px 30px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    background: url('/Images/AC22.png');

    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px;
    color: #000;
   font-family: 'ElmsSans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

 .col3NAV_EV3{
  width: 90px;
  height: 130px;
    padding: 10px 30px;
    border: 1px solid rgba(51, 51, 51, 0.3);
    background: url('/Images/AC33.png');

    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
    margin-bottom: 20px;
    color: #000;
  font-family: 'ElmsSans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
} 

/* end nev for EV */
/* section 2 container  */
.container2_Public{
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 40px;
}
.row2_Public{
  display: flex;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}
.col1_Public{
width: 30%;
text-align: center;
cursor: pointer;
margin-left: 70px;
}
.col3_Public ,.col2_Public ,.col4_Public ,.col5_Public ,.col6_Public{
width: 30%;
}
.col1_Public h2,
.col2_Public h2,
.col3_Public h2,
.col4_Public h2,
.col5_Public h2 {
  text-align: center;
   font-family: 'ElmsSans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  border: 1px solid #ff6600;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.col1_Public h2:hover,
.col2_Public h2:hover,   
.col3_Public h2:hover,
.col4_Public h2:hover,
.col5_Public h2:hover {
  color: #2c754e;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}
.col1_Public h2:hover , .col2_Public h2:hover , .col3_Public h2:hover , .col4_Public h2:hover ,.col5_Public h2:hover , .col6_Public h2:hover{
  color: #2d7c3e;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}
.col66_Public h2  , .col8_Public h2 ,.col10_Public h2 , .col12_Public h2 ,.col14_Public h2 , .col15_Public h2  {
     font-family: 'ElmsSans', sans-serif;
    font-weight: 500;
    font-size: 36px;
    width: 83%;
}
.col66_Public p ,.col8_Public p ,.col10_Public p ,.col14_Public p   {
     font-family: 'ElmsSans', sans-serif;
    font-size: 23px;
        text-align: justify;
}
.col66_Public li , .col8_Public li , .col10_Public li ,.col14_Public li{
    font-family: 'ElmsSans', sans-serif;
  padding-bottom: 20px;
  font-size: 20px;
  color: #3b3a3a;
}
.col66_Public h3 {
      font-family: 'ElmsSans', sans-serif;
    font-size: 26px;
}
.col12_RESIDENCE p {
    font-family: 'ElmsSans', sans-serif;
    font-size: 23px;
}
.col15_Public p{
  font-family: 'ElmsSans', sans-serif;
}
/* row 3 css  */
.row3_Public ,.row4_Public ,.row5_Public ,.row6_Public ,.row7_Public ,.row8_Public {
    margin-top: 50px;
    display: flex;
    column-gap: 65px;
}

.col66_Public ,.col8_Public ,.col7_Public ,.col9_Public ,.col10_Public ,.col11_Public ,.col12_Public ,.col13_Public ,.col14_Public ,.col15_Public ,.col16_Public{
  width: 50%;
}

/* .col7_Public{
  width: 50%;
} */

.col7_Public img ,.col9_Public img ,.col11_Public img , .col13_Public img ,.col15_Public img ,.col16_Public img{
  border-radius: 20px;
}
/* row3 css end  */

.col10_Public h3{
        font-family: 'ElmsSans', sans-serif;
}


.col10_Public_row7_Public h3 {
    font-family: 'ElmsSans', sans-serif;
    font-size: 25px;
}

/* row8 css end  */

/* row2 bottom line start  */
.row2_Public_copy{
  display: flex;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
    margin-top: 20px;
}
.col2_Public_copy img{
  border-radius: 20px;
}
.col6_Public_copy{
width: 25%;
text-align: center;
cursor: pointer;
margin-left: 70px;
}
.col7_Public_copy{
width: 25%;
}
.col1_Public_copy li , .col3_Public_copy li ,.col55_Public_copy li ,.col77_Public_copy li{
  font-family: 'ElmsSans', sans-serif;
  padding-bottom: 20px;
  font-size: 20px;
  color: #3b3a3a;
}

.col8_Public_copy{
width: 25%;
}
.col8_Public_copy , .col9_Public_copy{
width: 25%;
}
/* Active state */
.activeH2 {
  color: #ff6600;
    border: 1px solid #ff6600;
  box-shadow: 0px 4px 16px rgba(255, 102, 0, 0.4);
}

/* Inactive state */
.inactiveH2 {
  color: #2c754e;
   border: 1px solid #2c754e;
  box-shadow: 0px 4px 16px rgba(0, 255, 21, 0.3);
  opacity: 0.8;
}


.col6_Public_copy h2,
.col7_Public_copy h2,
.col8_Public_copy h2,
.col9_Public_copy h2{
  text-align: center;
  font-family: 'ElmsSans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  border: 1px solid #ff6600;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.col6_Public_copy h2:hover,
.col7_Public_copy h2:hover,   
.col8_Public_copy h2:hover,
.col9_Public_copy h2:hover{
  color: #2c754e;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}


.col6_Public_copy h2:hover ,.col7_Public_copy h2:hover ,.col8_Public_copy h2:hover ,.col9_Public_copy h2:hover{
  color: #2d7c3e;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.row1_Public_copy , .row22_Public_copy , .row3_Public_copy ,.row4_Public_copy{
    column-gap: 80px;
    display: flex;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 100px;
}

.col66_Public_copy img ,.col4_Public_copy img ,.col88_Public_copy img{
  border-radius: 20px;
}


.col1_Public_copy h3{
     font-family: 'ElmsSans', sans-serif;
    font-size: 26px;
}
.col1_Public_copy p{
  font-family: 'ElmsSans', sans-serif;
    font-size: 23px;
        text-align: justify;
}
.col12_Public li{
    font-family: 'ElmsSans', sans-serif;
  padding-bottom: 20px;
  font-size: 20px;
  color: #3b3a3a;
}

.col3_Public_copy h3{
      font-family: 'ElmsSans', sans-serif;
    font-size: 23px;
}
.col3_Public_copy p{
  font-family: 'ElmsSans', sans-serif;
    font-size: 23px;
        text-align: justify;
}


.col55_Public_copy h2 ,.col77_Public_copy h2 ,.col3_Public_copy h2 ,.col1_Public_copy h2{
   width: 87%;
      font-family: 'ElmsSans', sans-serif;
    font-size: 36px;
    font-weight: 500;
}
.col55_Public_copy h3 ,.col77_Public_copy h3{
      font-family: 'ElmsSans', sans-serif;
    font-size: 26px;
}
.col55_Public_copy p ,.col77_Public_copy p{
   font-family: 'ElmsSans', sans-serif;
    font-size: 23px;
        text-align: justify;
}

/* row2 bottom line end  */
/* section 2 end  */
.container233_Public{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 140px;
}
.row233_Public{
    display: block;
    column-gap: 30px;
    margin-top: 140px;
}
.col133_Public{
    width: 100%;
    text-align: center;
    margin-left: 60px;
}
.col133_Public h4{
text-align: center; 
font-size: 56px;
width: 60%;
padding-left: 15%;
font-family: 'ElmsSans', sans-serif;
    font-weight: 500;
}
.col133_Public h2{
    font-size: 18px;
    text-align: center; 
padding-left: 5%;
    width: 80%;
       font-family: 'ElmsSans', sans-serif;
       font-size: 32px;
       font-weight: 400;
  }

/* .container1_Public {
    background: url(/../Images/Picture1.png) center / cover no-repeat;
    width: 100%;
    height: 100vh;
    max-width: 99%;
    margin: 0 auto;
    border-radius: 27px;
    background-attachment: fixed;
} */
 .container1_Public {

  position: relative;
  width: 100%;
  height: 100vh;         
  border-radius: 27px;
  overflow: hidden;  
}
.container2_Public{
    width: 100%;
    max-width: 90%;
    margin-top: 140px;
    margin: 0 auto;
}


.container3_Public {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.row3_Public {
    column-gap: 80px;
    margin-top: 100px;
    display: flex
;
}
.col2_row3_Public{
    width: 50%;
}
.col3_Public_row3_Public{
    width: 50%;
}
.col2_row3_Public h3 {
    margin-left: 5px;
    font-family: 'ElmsSans', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.col2_row3_Public P {
    text-align: justify;
    font-family: 'ElmsSans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #333;
}
.col3_Public_row3_Public img{
    border-radius: 20px;
}
.custom-icon {
  font-size: 10px;
}
.container4_Public{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background: #b7c7c4;
    padding: 10px 70px 10px 70px;
    margin-bottom: 120px;
    border-radius: 30px;
    margin-top: 130px;
}

.col4_Public{
width: 50%;
}
.col5_Public{
width: 50%;
}
.col4_row4_Public_Public h2{
       font-family: 'Lato', sans-serif;
             padding-bottom: 20px;
       margin: 0;
       font-size: 25px;
       font-weight: 400;
}
.col4_row4_Public_Public h3{
      font-family: 'ElmsSans', sans-serif;
       padding-bottom: 30px;
       margin: 0;
       font-size: 42px;
       font-weight: 600;
           text-align: justify;
}
.col5_Public_row4_public p{
    width: 80%;
       font-family: 'ElmsSans', sans-serif;
       font-size: 22px;
       margin-left: 40px;
           margin-top: -2px;
}
.container5_Public{
    width: 100%;
    margin-top: 140px;
}
.row5_Public{
    display: flex;
    column-gap: 60px;
    align-items: center;
}
.col6_Public{
    width: 50%;
    margin-left: 50px;
}

.col6_Public h2{
    font-size: 40px;
       font-family: 'Lato', sans-serif;
}
.col6_Public p{
       font-family: 'Lato', sans-serif;
font-size: 24px;
font-weight: 400;
}
/* .col7_Public img{
    border-radius: 20px;
} */
.col6_Public h4{
    font-size: 22px;
    font-weight: 700;
       font-family: 'Lato', sans-serif;
}
.col6_Public h4:hover {
    cursor: pointer;
    color: #ff6600;
    transform: translateX(4px);
    transition: all 2 ease-in-out;
}
.col7_Public_row5_Public{
  width: 50%;
  margin-left: 30px;
}
/* section container6  */
.container6_Public{
    width: 100%;
   margin-top: 40px;
}

.row6_Public{
    display: flex;
    column-gap: 30px;
}

.col8_Public img {
    border-radius: 20px;
    margin-top: 34px;
}
.col9_Public{
    width: 50%;
}
.col9_Public h2{
        font-family: 'ElmsSans', sans-serif;
    font-size: 40px;
}
.col9_Public h4 {
    font-family: 'ElmsSans', sans-serif;
    font-size: 27px;
    font-weight: 700;
    padding-bottom: 132px;
    color: #ad9d9d;
}
.col9_Public p{
       font-family: 'ElmsSans', sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.col9_Public button {
      font-family: 'ElmsSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
padding: 15px 40px;
border: 1px solid;
border-radius: 30px;
background: #fff
}
.col9_Public button:hover{
    cursor: pointer;
    box-shadow: 4px 4px 16px #ff6600;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
    border: none;
}
/* section container6 end  */

/* section container7 start  */
.container7_Public{
    width: 100%;
    margin-top: 70px;
}
.row7_Public_container7_Public{
  display: block;
}
.col10_Public_row7_Public{
    margin-left: 60px;
}
.row8_Public{
    display: flex;
    column-gap: 20px;
}
.col11_Public{
    width: 50%;
    margin-left: 60px;
}
.col12_Public{
    width: 50%;
}
.col11_Public h2{
    width: 70%;
     font-family: 'ElmsSans', sans-serif;
font-size: 40px;
}
.col12_Public p{
     font-family: 'ElmsSans', sans-serif;
      width: 80%;
      font-size: 22px;
    text-align: justify;
}


/* card function  */

.row9_Public{
    display: flex;
    column-gap: 20px;
    margin-top: 45px;
}
.col13_Public{
    width: 25%;
margin-left: 60px;
}
.col14_Public ,.col15_Public{
    width: 50%;
}
.col16_Public{
    width: 25%;
}

.col13_Public img{
    cursor: pointer;
    border-radius: 10px;
}
.col14_Public img ,.col15_Public img{
       cursor: pointer;
    border-radius: 10px;
}
.col16_Public{
           cursor: pointer;
    border-radius: 10px;
}


/* card function end  */

/* section container8 end  */

/* section container8 start  */
.container8_Public{
    width: 100%;
    margin-top: 100px;
}
.row10_Public{
    display: flex;
    column-gap: 20px;
}
.col17_Public{
    width: 50%;
    margin-left: 100px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.col18_Public{
    background: url("/Images/sDC_FAST.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    padding: 240px 0px;
}
.col17_Public h3{
      font-family: 'Lato', sans-serif;
font-size: 25px;
color: #a19d9d;
}
.col17_Public h2{
         font-family: 'Lato', sans-serif;
font-size: 40px;
font-weight: 600;

}
.col17_Public p{
    width: 70%;
      font-family: 'Lato', sans-serif;
font-size: 25px;
}
/* section container8 end  */

/* section container9 start  */
/* .container9_Public{
    background: url("/Images/EV-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 22rem 0rem;
    background-attachment: fixed;
} */
 .container9_Public{
  position: relative;
  width: 100%;
  height: auto;
  padding: 19rem 0rem;
  overflow: hidden;
}

 .container9_Public img {
  z-index: 1;
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateZ(0);
  will-change: transform;
}
 /* section container9 end  */
 /* section container10 start  */
.container10_Public{
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 50px;
}
.row11_Public{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col19_Public h2{
text-align: center;
         font-family: 'ElmsSans', sans-serif;
         font-size: 22px;
         font-weight: 400;
}
.col19_Public h4{
    text-align: center;
  font-family: 'ElmsSans', sans-serif;
    font-size: 40px;
     width: 70%;
    font-weight: 400;
    margin: 0 auto;
    padding-bottom: 50px;
}
.col19_Public a{
     font-family: 'ElmsSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
     padding: 15px 40px;
    border-radius: 30px;
    background: #fff;
      margin-left: 26rem;
      border: 1px solid black;
      text-decoration: none;
      color: #000;
}
.col19_Public a:hover{
       cursor: pointer;
    box-shadow: 4px 4px 16px #ff6600;
    transform: translateY(-10px);
    transition: all 0.4s ease-in-out;
    border: none;
}
 /* section container10 end  */

@media(min-width:375px) and (max-width:667px){
.nav-item {
      width: 95px;
    height: 99px;
}
.container233_Public  ,.container3_Public{
    width: 100%;
    max-width: 100%;
}
.col133_Public {
    margin-left: 0px;
}
.col133_Public h4 {
    width: 100%;
    padding-left: 0%;
    font-size: 36px;
}
.col133_Public h2 {
    width: 100%;
    padding-left: 0%;
    font-size: 22px;
}

.row3_Public {
    column-gap: 80px;
    margin-top: 100px;
    display: block;
}
.col2_row3_Public, .col3_Public_row3_Public {
    width: 100%;
}
.col2_row3_Public h3 {
    margin-left: 0px;
}
.col2_row3_Public P {
    text-align: center;
    font-size: 22px;
}
.col3_Public_row3_Public img {
    border-radius: 20px;
    width: 362px;
    height: 303px;
}
.container4_Public {
    background: #b7c7c4;
    border-radius: 30px;
    width: 100%;
    max-width: 90%;
    margin: 130px auto 120px;
    padding: 10px 20px;
}
.row4_Public {
    column-gap: 65px;
    margin-top: 50px;
    display: block;
}
.col4_row4_Public_Public h3 {
    text-align: left;
    padding-bottom: 30px;
     font-family: 'ElmsSans', sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.col5_Public_row4_public p {
    width: 100%;
    margin-top: -2px;
    margin-left: 1px;
     font-family: 'ElmsSans', sans-serif;
    font-size: 22px;
}
.container9_Public {
    background: url(/Images/EV-1.png) center / cover no-repeat fixed;
    padding: 11rem 0;
}
.col19_Public h4 {
    text-align: center;
    width: 73%;
  font-family: 'ElmsSans', sans-serif;
    font-size: 32px;
}
.row2_Public {
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-top: 140px;
    display: block;
}
.col1_Public , .col2_Public , .col3_Public , .col4_Public , .col5_Public {
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-left: 2px;
}
.row2_Public_copy {
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-top: 20px;
    display: block;
}
.col6_Public_copy , .col7_Public_copy , .col8_Public_copy , .col9_Public_copy {
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-left: 0px;
}
.col66_Public, .col7_Public {
    width: 100%;
}
.col7_Public img ,.col9_Public img ,.col11_Public img ,.col13_Public img  ,.col15_Public img , .col2_Public_copy img{
    border-radius: 20px;
    width: 339px;
    height: 300px;
}
.col8_Public, .col9_Public {
    width: 100%;
}

.row5_Public {
    display: block;
}.col10_Public, .col11_Public {
    width: 100%;
}

.row6_Public {
    display: block;
}
.col13_Public {
    width: 100%;
    margin-left: 60px;
}

.col12_Public {
    width: 100%;
}
.row7_Public {
    display: block;
}
.col14_Public, .col15_Public {
    width: 100%;
}
.row1_Public_copy  ,.row22_Public_copy ,.row3_Public_copy ,.row4_Public_copy{
    width: 100%;
    max-width: 90%;
    margin: 100px auto 0;
    display: block;
}
.col4_Public_copy img ,.col66_Public_copy img , .col88_Public_copy img   {
    border-radius: 20px;
        width: 339px;
    height: 300px;
}
.col19_Public a {
    color: #000;
    background: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    margin-left: 5rem;
    padding: 15px 40px;
    font-family: 'ElmsSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.container1NAV2_1 {
    color: #000;
    z-index: 9999;
    margin-bottom: 20px;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: all .4s 
ease-in-out;
    position: fixed;
    top: 30px;
    left: 39.3%;
}
}

@media(min-width:360px) and (max-width:740px){
.row2_Public {
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-top: 140px;
    display: block;
}
.row2_Public_copy {
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-top: 20px;
    display: block;
}
.col1_Public , .col2_Public , .col3_Public , .col4_Public , .col5_Public {
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-left: 10px;
}
.col6_Public_copy , .col7_Public_copy , .col8_Public_copy , .col9_Public_copy{
      text-align: center;
    cursor: pointer;
    width: 100%;
    margin-left: 10px;
}
.row3_Public {
    column-gap: 80px;
    margin-top: 100px;
    display: block;
}
.col66_Public, .col7_Public {
    width: 100%;
}
.col7_Public img {
    border-radius: 20px;
    width: 339px;
    height: 300px;
}
.row4_Public {
    column-gap: 65px;
    margin-top: 50px;
    display: block;
}
.col8_Public, .col9_Public {
    width: 100%;
}
.col9_Public img {
    border-radius: 20px;
    width: 339px;
    height: 300px;
}
.row5_Public {
    align-items: center;
    column-gap: 60px;
    display: block;
}
.col10_Public, .col11_Public {
    width: 100%;
}
.col11_Public img {
    border-radius: 20px;
        width: 339px;
    height: 300px;
}
.row6_Public {
    column-gap: 30px;
    display: block;
}
.col12_Public , .col13_Public {
    width: 100%;
}
.col12_Public p {
    text-align: justify;
    width: 98%;
     font-family: 'ElmsSans', sans-serif;
    font-size: 22px;
}
.col13_Public img{
          width: 339px;
    height: 300px;
}
.row7_Public {
    column-gap: 65px;
    margin-top: 50px;
    display: block;
}
.col14_Public, .col15_Public {
    width: 100%;
}
.col15_Public img{
            width: 339px;
    height: 300px;
}
.row1_Public_copy {
    width: 100%;
    max-width: 90%;
    display: block;
    margin: 100px auto 0px;
}
.col2_Public_copy img {
    border-radius: 20px;
                width: 339px;
    height: 300px;
}
.row22_Public_copy {
    column-gap: 80px;
    width: 100%;
    max-width: 90%;
    display: block;
    margin: 100px auto 0px;
}
.col4_Public_copy img {
    border-radius: 20px;
    width: 339px;
    height: 300px;
}
.row3_Public_copy {
    column-gap: 80px;
    width: 100%;
    max-width: 90%;
    margin: 100px auto 0;
    display: block;
}
.col66_Public_copy img {
    border-radius: 20px;
        width: 339px;
    height: 300px;
}
.row4_Public_copy {
    column-gap: 80px;
    width: 100%;
    max-width: 90%;
    margin: 100px auto 0;
    display: block;
}
.col88_Public_copy img {
    border-radius: 20px;
            width: 339px;
    height: 300px;
}
.col8_Public p {
    text-align: justify;
    width: 100%;
    font-family: 'ElmsSans', sans-serif;
    font-size: 23px;
}
.col133_Public h4 {
    width: 100%;
    padding-left: 0%;
    font-size: 32px;
}
.col133_Public {
    text-align: center;
    width: 100%;
    margin-left: 0px;
}
.col133_Public h2 {
    text-align: center;
    width: 100%;
    padding-left: 2px;
     font-family: 'ElmsSans', sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.col2_row3_Public, .col3_Public_row3_Public {
    width: 100%;
}
.col2_row3_Public P {
    text-align: left;
   font-family: 'ElmsSans', sans-serif;
    font-size: 23px;
    font-weight: 400;
}
.col3_Public_row3_Public img {
    border-radius: 20px;
                width: 339px;
    height: 300px;
}
.container4_Public {
    width: 100%;
  max-width: 58%;
}
.col5_Public_row4_public p {
    width: 100%;
    margin-top: -2px;
    margin-left: 1px;
     font-family: 'ElmsSans', sans-serif;
    font-size: 22px;
}
.col4_row4_Public_Public h3 {
    text-align: left;
    padding-bottom: 30px;
    font-family: 'ElmsSans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin: 0px;
}
.container9_Public {
    background: url(/Images/EV-1.png) center / cover no-repeat fixed;
    padding: 15rem 0;
}
.col19_Public a {
    margin-left: 5rem;
}
.col19_Public h4 {
    text-align: center;
    width: 94%;
    margin: 0 auto;
    padding-bottom: 50px;
     font-family: 'ElmsSans', sans-serif;
    font-size: 39px;
    font-weight: 400;
}
}

@media(min-width:412px) and (max-width:915px) {
    .container4_Public {
        width: 100%;
        max-width: 89%;
    }
}

@media(min-width:768px)and (max-width:1024px){
.col133_Public h4 {
    text-align: center;
    width: 100%;
    padding-left: 1%;
   font-family: 'ElmsSans', sans-serif;
    font-size: 56px;
    font-weight: 500;
}
    .col133_Public h4 {
        text-align: center;
        width: 100%;
        padding-left: 1%;
        font-size: 56px;
    }
    .col133_Public {
    text-align: center;
    width: 100%;
    margin-left: 0px;
}
.col133_Public h2 {
    width: 92%;
    padding-left: 5%;
    font-size: 32px;
}
 .container3_Public {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.row3_Public {
    margin-top: 100px;
    display: block;
}
.col2_row3_Public{
    width: 100%;
}
.col3_Public_row3_Public {
    width: 100%;
}
.col2_row3_Public P {
    text-align: left;
    font-size: 28px;
    font-weight: 400;
}
.col3_Public_row3_Public img {
    border-radius: 20px;
    margin-left: 22px;
}
.col19_Public h4 {
    text-align: center;
    width: 66%;
    margin: 0 auto;
    padding-bottom: 50px;
     font-family: 'ElmsSans', sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.col19_Public a {
    border-radius: 30px;
    margin-left: 18rem;
}
.row2_Public {
    display: block;
}
.row2_Public_copy {
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-top: 20px;
    display: block;
}
.col1_Public , .col2_Public ,.col3_Public , .col4_Public , .col5_Public, .col6_Public_copy ,.col7_Public_copy , .col8_Public_copy , .col9_Public_copy {
    width: 100%;
    margin-left: 20px;
}
.row4_Public_copy {
    width: 100%;
    display: block;
}
.col66_Public, .col7_Public {
    width: 100%;
}
.row4_Public , .row5_Public , .row6_Public ,.row7_Public ,.row1_Public_copy ,.row22_Public_copy  ,.row3_Public_copy{
    display: block;
}
.col8_Public, .col9_Public , .col10_Public ,.col11_Public ,.col12_Public ,.col13_Public ,.col14_Public ,.col15_Public {
    width: 100%;
}
    .container4_Public {
        width: 100%;
        max-width: 79%;
    }
    .col4_row4_Public_Public h3 {
    text-align: left;
}
.container1NAV2_1 {
    color: #000;
    z-index: 9999;
    margin-bottom: 20px;
    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    transition: all .4s 
ease-in-out;
    position: fixed;
    top: 30px;
    left: 67.3%;
}
}