@font-face {
  font-family: 'Lato';
  src: url('/Fonts/Lato-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
.main1_FourZeroFour{
    margin: 0 auto;
    overflow-x: hidden;
}
.container1_FourZeroFour{
    width: 100%;
    height: 90vh;
    background: #192538;
}
.row1_FourZeroFour{
    display: flex;
    max-width: 1400px;
align-items: center;
justify-content: center;
margin: 0 auto;
}
.col1_FourZeroFour{
    width: 50%;
    margin-top: 7rem;
    margin-left: -5%;
}
.col2_FourZeroFour{
    width: 30%;
    margin-top: 7rem;

}
.col1_FourZeroFour h4{
    color: #fff;
    font-size: 32px;
    padding: 1px;
margin-top: 1px;
font-weight: 400;
     font-family: 'Lato', sans-serif;
     /* color: #ff6600; */
}
.col1_FourZeroFour h2{
    width: 70%;
    color: #fff;
    font-size: 50px;
    padding: 1px;
margin-top: 1px;
     font-family: 'Lato', sans-serif;
}
.col1_FourZeroFour h5{
    width: 70%;
    color: #fff;
    font-size: 32px;
margin-top: 1px;
     font-family: 'Lato', sans-serif;
     font-weight: 400;
}
/* .col1_FourZeroFour a{
    color: #fff;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 30px;
     font-family: 'Lato', sans-serif;
     background: #fff;
     color: black;
    transition: all 0.3s ease;
  animation: btnBounce 1s ease-in-out infinite;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}  */
/* .col1_FourZeroFour a:hover {
    background: #ff6600;
    cursor: pointer;
    color: #fff;
   transition: all 0.3s ease-in-out;
} */

