@font-face {
  font-family: 'Lato';
  src: url('/Fonts/Lato-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}


.container1_Nav{
    width: 100%;
    margin: 0 auto;
}
.row1_Nav{
    display: flex;
    column-gap: 30px;
}
.col1_Nav{
width: 30%;
}
.col2_Nav{
width: 70%;
}
.col2_Nav ul{
    display: flex;
    text-decoration: none;
}
.col2_Nav li{
    padding: 0px 30px;
     font-family: 'Lato', sans-serif;
     text-decoration: none;
     list-style-type: none;
}
.col2_Nav a{
    text-decoration: none;
}
.dropdown{
    display: block;
}






/* nav changes  */
.col2_Nav {
    width: 84%;
    max-width: 1078px;
  margin: 0 auto;
  padding: 4px 40px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(127, 127, 127, 0.5); 
  border-radius: 20px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff;
  z-index: 9999;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.col2_Nav li{
padding: 7px 20px;
border-radius: 50px;
margin-left: 10px;
}
.col2_Nav a {
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 15px;
}

.col2_Nav li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #000000;
  transition: all 0.4s ease;
}
.col3_Header{
  display: none;
}

/* second dropdown section  */
.container2_NAV{
    width: 27%;
    margin: 0 auto;
    top: 100px;
    left: 850px;
    background: #fff;
    position: fixed;
  padding: 12px 30px;
  transform: translateX(-50%); 
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      font-family: 'Lato', sans-serif;
      font-weight: 400;
  color: #333333;
  z-index: 9999;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.col3_NAV ul{
    text-decoration: none;
    list-style-type: none;
}
.col3_NAV li {
    padding: 20px 0px;
      font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 500;
}
.col3_NAV a{
    text-decoration: none;
    color: #000;
}
.col3_NAV li:hover{
    transform: translateX(20px);
    transition: all 0.8s ease-in-out;
}
/* second dropdown section end  */

/* third dropdown section  */
.container3_NAV{
    width: 27%;
    margin: 0 auto;
    top: 100px;
    left: 1000px;
    background: #fff;
    position: fixed;
  padding: 12px 30px;
  transform: translateX(-50%); 
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      font-family: 'Lato', sans-serif;
      font-weight: 400;
  color: #333333;
  /* z-index: 9999; */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.col4_NAV ul{
    text-decoration: none;
    list-style-type: none;
}
.col4_NAV li {
    padding: 20px 0px;
      font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 500;
}
.col4_NAV a{
    text-decoration: none;
    color: #000;
}
.col4_NAV li:hover{
    transform: translateX(20px);
    transition: all 0.8s ease-in-out;
}
/* third dropdown section end  */


/* four dropdown section  */
.container4_NAV{
        width: 27%;
    margin: 0 auto;
    top: 100px;
    left: 1200px;
    background: #fff;
    position: fixed;
      padding: 12px 30px;
  transform: translateX(-50%); 
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      font-family: 'Lato', sans-serif;
      font-weight: 400;
  color: #333333;
  z-index: 9999;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.col5_NAV ul{
    text-decoration: none;
    list-style-type: none;
}
.col5_NAV li {
    padding: 20px 0px;
      font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 500;
}
.col5_NAV a{
    text-decoration: none;
    color: #000;
}

.col5_NAV li:hover{
    transform: translateX(20px);
    transition: all 0.8s ease-in-out;
}

/* four dropdown section end  */


@media screen and (max-width: 768px) {



    .col3_Header {
        margin-top: -140px;
        margin-left: 17rem;
        padding-bottom: 41px;
        font-size: 34px;
        display: block;
    }
}
/* nav changes end  */