/* html, body {
  width: 100%;
  height: 100%;
  cursor: none;
} */

/* #crsr {
  position: fixed;
  width: 25px;
  height: 25px;
  border: 3px solid #1f90ff;
  background-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
} */